html, body, ul, li{
  padding: 0;
  margin: 0;
}
.flex{
  display: flex;

}
.flex-direction-row{
  flex-direction: row;
}
.flex-direction-column{
  flex-direction: column;
}
.flex-1{
  flex: 1;
}
.flex-2{
  flex: 2;
}
.flex-3{
  flex: 3;
}
.flex-justifyContent-center{
  justify-content: center;
}
.flex-alignItems-center{
  align-items: center;
}

.float-left {
  float: left;
}
.float-right {
  float: right;
}
.clear-fix:after {
  display: table;
  content: '';
  clear: both;
}